.wingrid-toolbar {top:30px;border:0px solid red;height:28px;line-height:28px}
.wingrid-grid {border:0px solid green;}
.wingrid-action {text-align:center;border:0px solid blue;padding:5px 0 5px 0}
.wingrid-toolbar .search-content{position:relative}
.wingrid-toolbar .search-content div{display:inline-block;*display:inline}